@define-mixin heavy-font {
  letter-spacing: 0.02em;
  font-family: 'Bakbak One', system-ui, sans-serif;
  font-weight: 700;
}

/* Provides a shorter way to declare multiple breakpoint sizes in a single line */
/* e.g. '@mixin font-size 4rem, 3.5rem, 3rem;' */
/* Omitting one of the breakpoint sizes will default to the previous size */
@define-mixin responsive $property, $large, $medium: $large, $small: $medium {
  $(property): $large;

  @media (--medium-viewport) {
    $(property): $medium;
  }

  @media (--small-viewport) {
    $(property): $small;
  }
}
