@define-mixin heavy-font {
  letter-spacing: 0.02em;
  font-family: 'Bakbak One', system-ui, sans-serif;
  font-weight: 700;
}

@define-mixin overlay {
  transition:
    visibility var(--medium-transition) 0s,
    opacity var(--medium-transition);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

@define-mixin overlay-open {
  visibility: visible;
  opacity: 1;
}

@define-mixin nav-link {
  @mixin heavy-font;
  @mixin responsive font-size, 1.5rem, 1.35rem, 1.2rem;
  color: var(--color-primary);
  transition: color var(--short-transition);

  &.active {
    color: var(--color-secondary);
  }

  &:hover {
    color: var(--color-tertiary);
  }
}

/* Provides a shorter way to declare multiple breakpoint sizes in a single line */
/* e.g. '@mixin font-size 4rem, 3.5rem, 3rem;' */
/* Omitting one of the breakpoint sizes will default to the previous size */
@define-mixin responsive $property, $large, $medium: $large, $small: $medium {
  $(property): $large;

  @media (--medium-viewport) {
    $(property): $medium;
  }

  @media (--small-viewport) {
    $(property): $small;
  }
}

/* Provides a shorter way to declare a global selector, which is necessary for */
/* passing styling to child components in Svelte */
/* e.g. '@mixin global div { color: var(--color-primary); }' */
@define-mixin global $selector {
  :global($selector) {
    @mixin-content;
  }
}
