@define-mixin heavy-font {
  letter-spacing: 0.02em;
  font-family: 'Bakbak One', system-ui, sans-serif;
  font-weight: 700;
}

@define-mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s;
  border: 1px solid var(--color-button-border);
  border-radius: 100vh;
  background-color: var(--color-button-background);
  padding: 0.5rem 2rem;
  width: auto;
  min-height: 40px;
  font-weight: 700;

  &:hover {
    background-color: var(--color-button-background-hover);
  }
}

@define-mixin overlay {
  transition: visibility 0.3s 0s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(255 255 255 / 0.75);

  @media (--dark-mode) {
    background-color: rgb(30 30 30 / 0.75);
  }
}

@define-mixin overlay-open {
  visibility: visible;
  opacity: 1;
}

@define-mixin nav-link {
  @mixin heavy-font;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: color 0.15s;
  width: fit-content;
  color: var(--color-nav-link);
  font-size: 1.5rem;

  &.active {
    color: var(--color-nav-link-active);
  }

  &:hover {
    color: var(--color-nav-link-hover);
  }
}
