*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
