:root {
  --color-primary: light-dark(#082c50, #ddefff);
  --color-secondary: light-dark(#439cf0, #2c6aa4);
  --color-main-background: light-dark(#f8f8f8, #18181b);
  --color-main-foreground: light-dark(#18181b, #f8f8f8);
  --color-keyline: light-dark(#dedee4, #2d303d);
  --color-loading-spinner-inactive: light-dark(#439cf0, #2c6aa4);
  --color-loading-spinner-active: light-dark(#082c50, #439cf0);
  --color-button-border: var(--color-keyline);
  --color-button-background: var(--color-main-background);
  --color-button-background-hover: var(--color-keyline);
}
